div.outer-div {
    height: 170px;
    width: 300px;
    background-color: lightgray;
  }
  
div.middle-div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }