/* Styles go here */

/* .list-group-item:hover {
  background: #fafafa;
  cursor: pointer;
} */

/* .list-group-item .remove-item:hover {
  background: #aaf;
  cursor: pointer;
} */

.list-group-item.mouseover {
    background: #fafafa;
    cursor: pointer;
  }
  
  .list-group-item .remove-item.mouseover {
    background: #aaf;
    cursor: pointer;
  }
  