{% extends "index.html" %} 

{% block bodycss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gcreate.css') }}" 
{% endblock %}

{% block body %}
<div class="text-center"">

    <h2>Group Flix Code </h2>
    <h1 id="code" style="font-size:1000%">ZTUI</h1>
    <h6>Click here when all members are in!</h6>
    <button type="button" class="btn btn-primary mb-3">Find a Flick!</button>  
    <h3>Group members</h3>
    <ul class="list-group mx-auto" style="overflow:scroll; max-height: 40vh; width: 25vw;">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Cras justo odio</li>
    </ul>
</div>
{% endblock %}
