{% extends "index.html" %} 

{% block bodycss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gjoin.css') }}" 
{% endblock %}

{% block body %}
<div class="text-center row h-100">
    <div class="col  my-auto" style="position:absolute; top: 30%;">
        <h2>Join a group!</h2>
        <form>
            <div class="form-group" style="width: 25vw; margin: 0 auto;">
                <input class="form-control form-control-lg" type="text" maxlength="4" placeholder="4-digit code">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
